{% include head_top.html %}
  <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
  <script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.smoothState.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/retina.min.js" | prepend: site.baseurl }}"></script>
{% include head_bottom.html %}